<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>Dashboard</title>
</head>
<body>
  <div class="dashboard-container_main">
    <h1 class="dashboard-text_title">User</h1>
    <div class="dashboard-container_grid">
      <div class="dashboard-container_left">Left</div>
      <div class="dashboard-container_mid">Mid</div>
      <div class="dashboard-container_right">Right</div>
      <div class="dashboard-container_bottom">Bottom</div>
    </div>
    <div class="dashboard-container_footer">Footer</div>
  </div>
</body>
</html>