*{
  box-sizing: border-box;
}
:root{
  --bg-color_primary: rgba(43, 42, 42, 0.911);
  --bg-color_gradient_left-bot:linear-gradient(to left bottom,rgba(250, 250, 250, 0.377),rgba(0, 0, 0, 0.1));
  --bg-color_gradient_right-top:linear-gradient(to right top,rgba(250, 250, 250, 0.678),rgba(0, 0, 0, 0.1));
  --bg-color_blue: rgba(0, 81, 255, 0.3);

}
body{
  margin: 0;
  background: var(--bg-color-primary);
}
.dashboard-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}
.dashboard-text_main{
 font-size: xx-large;
 text-align: center;
 padding: 1rem 0;
}
.login-container_glass{
  display: inherit;
  width: 40vw;
  height: 50vh;
  flex-direction: column;
  background: var(--bg-color_gradient_left-bot);
  box-shadow: 3px 2px 3px rgb(189, 183, 183);
  border-radius: 10px;
  gap: 5rem;
  z-index: 40;
}
.login-title{
  font-size: x-large;
  text-align: center;
}
.login-list{
  position: relative;
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}
.login-link_general{
  text-decoration: none;
  background: var(--bg-color_blue);
  box-shadow: 3px 2px 3px rgb(189, 183, 183);
  color: rgb(0, 13, 116);
  border-radius: 10px;
  padding: 1rem;
  text-transform: uppercase;
}
